/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #ff3238 /*{a-bar-border}*/;
	background: #e9494e /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF5055 /*{a-bar-background-start}*/), to( #D14146 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF5055 /*{a-bar-background-start}*/, #D14146 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF5055 /*{a-bar-background-start}*/, #D14146 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF5055 /*{a-bar-background-start}*/, #D14146 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF5055 /*{a-bar-background-start}*/, #D14146 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF5055 /*{a-bar-background-start}*/, #D14146 /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489CE /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #d93644 /*{a-body-border}*/;
	color: #282e33 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #eeeeee /*{a-body-shadow-color}*/;
	background: #ffffff /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-body-background-start}*/), to( #ffffff /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #282e33 /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #d93644 /*{a-bup-border}*/;
	background: #f3f3f3 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #d93644 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #eeeeee /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{a-bup-background-start}*/), to( #f3f3f3 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f3f3f3 /*{a-bup-background-start}*/, #f3f3f3 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f3f3f3 /*{a-bup-background-start}*/, #f3f3f3 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f3f3f3 /*{a-bup-background-start}*/, #f3f3f3 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f3f3f3 /*{a-bup-background-start}*/, #f3f3f3 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f3f3f3 /*{a-bup-background-start}*/, #f3f3f3 /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #d93644 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #ff3f4b /*{a-bhover-border}*/;
	background: #FFFFF8 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #eeeeee /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-bhover-background-start}*/), to( #F4F4EE /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #F4F4EE /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #F4F4EE /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #F4F4EE /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #F4F4EE /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #F4F4EE /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #e8ac04 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #d93644 /*{a-bdown-border}*/;
	background: #FFFFF8 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #d93644 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #eeeeee /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F7F7F0 /*{a-bdown-background-start}*/), to( #FFFFFF /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F7F7F0 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F7F7F0 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F7F7F0 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F7F7F0 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F7F7F0 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #d93644 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #eb6c2d /*{b-bar-border}*/;
	background: #eb6c2d /*{b-bar-background-color}*/;
	color: #ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #444444 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF7631 /*{b-bar-background-start}*/), to( #D36128 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF7631 /*{b-bar-background-start}*/, #D36128 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF7631 /*{b-bar-background-start}*/, #D36128 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF7631 /*{b-bar-background-start}*/, #D36128 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF7631 /*{b-bar-background-start}*/, #D36128 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF7631 /*{b-bar-background-start}*/, #D36128 /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
	color: #ffffff /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489CE /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
	color: #2489CE /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #f27405 /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	background: #ffffff /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-body-background-start}*/), to( #ffffff /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}

.ui-btn-up-b {
	border: 1px solid #f27405 /*{b-bup-border}*/;
	background: #f3f3f3 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #f27405 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #eeeeee /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F3F3F3 /*{b-bup-background-start}*/), to( #F3F3F3 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F3F3F3 /*{b-bup-background-start}*/, #F3F3F3 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F3F3F3 /*{b-bup-background-start}*/, #F3F3F3 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F3F3F3 /*{b-bup-background-start}*/, #F3F3F3 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F3F3F3 /*{b-bup-background-start}*/, #F3F3F3 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F3F3F3 /*{b-bup-background-start}*/, #F3F3F3 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #f27405 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #f27405 /*{b-bhover-border}*/;
	background: #f3f3f3 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #eeeeee /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FCFCFC /*{b-bhover-background-start}*/), to( #E9E9E9 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FCFCFC /*{b-bhover-background-start}*/, #E9E9E9 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FCFCFC /*{b-bhover-background-start}*/, #E9E9E9 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FCFCFC /*{b-bhover-background-start}*/, #E9E9E9 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FCFCFC /*{b-bhover-background-start}*/, #E9E9E9 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FCFCFC /*{b-bhover-background-start}*/, #E9E9E9 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #e8ac04 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #f27405 /*{b-bdown-border}*/;
	background: #FFFFFF /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #f27405 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #eeeeee /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #EAEAEA /*{b-bdown-background-start}*/), to( #FFFFFF /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #EAEAEA /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #EAEAEA /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #EAEAEA /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #EAEAEA /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #EAEAEA /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #f27405 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #e8bd44 /*{c-bar-border}*/;
	background: #e8bd44 /*{c-bar-background-color}*/;
	color: #000000 /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #eeeeee /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFCF4A /*{c-bar-background-start}*/), to( #D0AA3D /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFCF4A /*{c-bar-background-start}*/, #D0AA3D /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFCF4A /*{c-bar-background-start}*/, #D0AA3D /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFCF4A /*{c-bar-background-start}*/, #D0AA3D /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFCF4A /*{c-bar-background-start}*/, #D0AA3D /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFCF4A /*{c-bar-background-start}*/, #D0AA3D /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
	color: #000000 /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489CE /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
	color: #2489CE /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
	color: #2489CE /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #e8b851 /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: #ffffff /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{c-body-background-start}*/), to( #ffffff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
	color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-btn-up-c {
	border: 1px solid #f2b705 /*{c-bup-border}*/;
	background: #f3f3f3 /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #ffa00d /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 1px /*{c-bup-shadow-radius}*/ #f6f6f6 /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F5F5F5 /*{c-bup-background-start}*/), to( #F0F0F0 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F5F5F5 /*{c-bup-background-start}*/, #F0F0F0 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F5F5F5 /*{c-bup-background-start}*/, #F0F0F0 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F5F5F5 /*{c-bup-background-start}*/, #F0F0F0 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F5F5F5 /*{c-bup-background-start}*/, #F0F0F0 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F5F5F5 /*{c-bup-background-start}*/, #F0F0F0 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #ffa00d /*{c-bup-color}*/;
}
.ui-btn-hover-c {
	border: 1px solid #f2b705 /*{c-bhover-border}*/;
	background: #f3f3f3 /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 1px /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FCFCFC /*{c-bhover-background-start}*/), to( #E9E9E9 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FCFCFC /*{c-bhover-background-start}*/, #E9E9E9 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FCFCFC /*{c-bhover-background-start}*/, #E9E9E9 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FCFCFC /*{c-bhover-background-start}*/, #E9E9E9 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FCFCFC /*{c-bhover-background-start}*/, #E9E9E9 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FCFCFC /*{c-bhover-background-start}*/, #E9E9E9 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #e8ac04 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #f2b705 /*{c-bdown-border}*/;
	background: #fdfdfd /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #ffa00d /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 1px /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eee /*{c-bdown-background-start}*/), to( #fdfdfd /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eee /*{c-bdown-background-start}*/, #fdfdfd /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eee /*{c-bdown-background-start}*/, #fdfdfd /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eee /*{c-bdown-background-start}*/, #fdfdfd /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eee /*{c-bdown-background-start}*/, #fdfdfd /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eee /*{c-bdown-background-start}*/, #fdfdfd /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #ffa00d /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
	border: 1px solid #86a143 /*{d-bar-border}*/;
	background: #86a143 /*{d-bar-background-color}*/;
	color: #ffffff /*{d-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #444444 /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #93B149 /*{d-bar-background-start}*/), to( #78903C /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #93B149 /*{d-bar-background-start}*/, #78903C /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #93B149 /*{d-bar-background-start}*/, #78903C /*{d-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #93B149 /*{d-bar-background-start}*/, #78903C /*{d-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #93B149 /*{d-bar-background-start}*/, #78903C /*{d-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #93B149 /*{d-bar-background-start}*/, #78903C /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
	color: #ffffff /*{d-bar-color}*/;
}

.ui-bar-d a.ui-link {
	color: #7cc4e7 /*{d-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-d a.ui-link:visited {
    color: #2489CE /*{d-bar-link-visited}*/;
}

.ui-bar-d a.ui-link:hover {
	color: #2489CE /*{d-bar-link-hover}*/;
}

.ui-bar-d a.ui-link:active {
	color: #2489CE /*{d-bar-link-active}*/;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
	border: 1px solid #92ae4c /*{d-body-border}*/;
	color: #282e33 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #eeeeee /*{d-body-shadow-color}*/;
	background: #ffffff /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{d-body-background-start}*/), to( #FFFFFF /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/);
}
.ui-overlay-d {
	background-image: none;
	border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
	color: #282e33 /*{d-body-color}*/;
}

.ui-body-d .ui-link {
	color: #2489CE /*{d-body-link-color}*/;
	font-weight: bold;
}

.ui-body-d .ui-link:visited {
    color: #2489CE /*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
	color: #2489CE /*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
	color: #2489CE /*{d-body-link-active}*/;
}

.ui-btn-up-d {
	border: 1px solid #92ae4c /*{d-bup-border}*/;
	background: #f3f3f3 /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #86a143 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #eeeeee /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{d-bup-background-start}*/), to( #f3f3f3 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f3f3f3 /*{d-bup-background-start}*/, #f3f3f3 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f3f3f3 /*{d-bup-background-start}*/, #f3f3f3 /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f3f3f3 /*{d-bup-background-start}*/, #f3f3f3 /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f3f3f3 /*{d-bup-background-start}*/, #f3f3f3 /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f3f3f3 /*{d-bup-background-start}*/, #f3f3f3 /*{d-bup-background-end}*/);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
	color: #86a143 /*{d-bup-color}*/;
}
.ui-btn-hover-d {
	border: 1px solid #92ae4c /*{d-bhover-border}*/;
	background: #FFFFF8 /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/ #eeeeee /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{d-bhover-background-start}*/), to( #F7F7F0 /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{d-bhover-background-start}*/, #F7F7F0 /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{d-bhover-background-start}*/, #F7F7F0 /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{d-bhover-background-start}*/, #F7F7F0 /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{d-bhover-background-start}*/, #F7F7F0 /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{d-bhover-background-start}*/, #F7F7F0 /*{d-bhover-background-end}*/);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
	color: #e8ac04 /*{d-bhover-color}*/;
}
.ui-btn-down-d {
	border: 1px solid #92ae4c /*{d-bdown-border}*/;
	background: #FFFFF8 /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: #86a143 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 1px /*{d-bdown-shadow-radius}*/ #eeeeee /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E5E5DF /*{d-bdown-background-start}*/), to( #FFFFFF /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E5E5DF /*{d-bdown-background-start}*/, #FFFFFF /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E5E5DF /*{d-bdown-background-start}*/, #FFFFFF /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E5E5DF /*{d-bdown-background-start}*/, #FFFFFF /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E5E5DF /*{d-bdown-background-start}*/, #FFFFFF /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E5E5DF /*{d-bdown-background-start}*/, #FFFFFF /*{d-bdown-background-end}*/);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
	color: #86a143 /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* E
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-e {
	border: 1px solid #b4d9d9 /*{e-bar-border}*/;
	background: #9bd9d9 /*{e-bar-background-color}*/;
	color: #000000 /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 1px /*{e-bar-shadow-radius}*/ #eeeeee /*{e-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #AAEEEE /*{e-bar-background-start}*/), to( #8BC3C3 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #AAEEEE /*{e-bar-background-start}*/, #8BC3C3 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #AAEEEE /*{e-bar-background-start}*/, #8BC3C3 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #AAEEEE /*{e-bar-background-start}*/, #8BC3C3 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #AAEEEE /*{e-bar-background-start}*/, #8BC3C3 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #AAEEEE /*{e-bar-background-start}*/, #8BC3C3 /*{e-bar-background-end}*/);
}
.ui-bar-e .ui-link-inherit {
	color: #000000 /*{e-bar-color}*/;
}

.ui-bar-e a.ui-link {
	color: #7cc4e7 /*{e-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-e a.ui-link:visited {
    color: #2489CE /*{e-bar-link-visited}*/;
}

.ui-bar-e a.ui-link:hover {
	color: #2489CE /*{e-bar-link-hover}*/;
}

.ui-bar-e a.ui-link:active {
	color: #2489CE /*{e-bar-link-active}*/;
}

.ui-bar-e,
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-e,
.ui-overlay-e {
	border: 1px solid #9acbcb /*{e-body-border}*/;
	color: #282e33 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #eeeeee /*{e-body-shadow-color}*/;
	background: #ffffff /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{e-body-background-start}*/), to( #FFFFFF /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/);
}
.ui-overlay-e {
	background-image: none;
	border-width: 0;
}
.ui-body-e,
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-e .ui-link-inherit {
	color: #282e33 /*{e-body-color}*/;
}

.ui-body-e .ui-link {
	color: #2489CE /*{e-body-link-color}*/;
	font-weight: bold;
}

.ui-body-e .ui-link:visited {
    color: #2489CE /*{e-body-link-visited}*/;
}

.ui-body-e .ui-link:hover {
	color: #2489CE /*{e-body-link-hover}*/;
}

.ui-body-e .ui-link:active {
	color: #2489CE /*{e-body-link-active}*/;
}

.ui-btn-up-e {
	border: 1px solid #9acbcb /*{e-bup-border}*/;
	background: #f3f3f3 /*{e-bup-background-color}*/;
	font-weight: bold;
	color: #71b7b7 /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 1px /*{e-bup-shadow-radius}*/ #eeeeee /*{e-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{e-bup-background-start}*/), to( #f3f3f3 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f3f3f3 /*{e-bup-background-start}*/, #f3f3f3 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f3f3f3 /*{e-bup-background-start}*/, #f3f3f3 /*{e-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f3f3f3 /*{e-bup-background-start}*/, #f3f3f3 /*{e-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f3f3f3 /*{e-bup-background-start}*/, #f3f3f3 /*{e-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f3f3f3 /*{e-bup-background-start}*/, #f3f3f3 /*{e-bup-background-end}*/);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
	color: #71b7b7 /*{e-bup-color}*/;
}
.ui-btn-hover-e {
	border: 1px solid #9acbcb /*{e-bhover-border}*/;
	background: #FFFFF8 /*{e-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ 1px /*{e-bhover-shadow-y}*/ 1px /*{e-bhover-shadow-radius}*/ #eeeeee /*{e-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{e-bhover-background-start}*/), to( #F4F4EE /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{e-bhover-background-start}*/, #F4F4EE /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{e-bhover-background-start}*/, #F4F4EE /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{e-bhover-background-start}*/, #F4F4EE /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{e-bhover-background-start}*/, #F4F4EE /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{e-bhover-background-start}*/, #F4F4EE /*{e-bhover-background-end}*/);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
	color: #e8ac04 /*{e-bhover-color}*/;
}
.ui-btn-down-e {
	border: 1px solid #9acbcb /*{e-bdown-border}*/;
	background: #FFFFF8 /*{e-bdown-background-color}*/;
	font-weight: bold;
	color: #71b7b7 /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ 1px /*{e-bdown-shadow-y}*/ 1px /*{e-bdown-shadow-radius}*/ #eeeeee /*{e-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E5E5DF /*{e-bdown-background-start}*/), to( #FFFFFF /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E5E5DF /*{e-bdown-background-start}*/, #FFFFFF /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E5E5DF /*{e-bdown-background-start}*/, #FFFFFF /*{e-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E5E5DF /*{e-bdown-background-start}*/, #FFFFFF /*{e-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E5E5DF /*{e-bdown-background-start}*/, #FFFFFF /*{e-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E5E5DF /*{e-bdown-background-start}*/, #FFFFFF /*{e-bdown-background-end}*/);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
	color: #71b7b7 /*{e-bdown-color}*/;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid #0980ba /*{f-bar-border}*/;
	background: #2694c9 /*{f-bar-background-color}*/;
	color: #ffffff /*{f-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{f-bar-shadow-x}*/ 1px /*{f-bar-shadow-y}*/ 1px /*{f-bar-shadow-radius}*/ #444444 /*{f-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #29A2DD /*{f-bar-background-start}*/), to( #2285B4 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #29A2DD /*{f-bar-background-start}*/, #2285B4 /*{f-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #29A2DD /*{f-bar-background-start}*/, #2285B4 /*{f-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #29A2DD /*{f-bar-background-start}*/, #2285B4 /*{f-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #29A2DD /*{f-bar-background-start}*/, #2285B4 /*{f-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #29A2DD /*{f-bar-background-start}*/, #2285B4 /*{f-bar-background-end}*/);
}
.ui-bar-f .ui-link-inherit {
	color: #ffffff /*{f-bar-color}*/;
}

.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{f-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-f a.ui-link:visited {
    color: #2489CE /*{f-bar-link-visited}*/;
}

.ui-bar-f a.ui-link:hover {
	color: #2489CE /*{f-bar-link-hover}*/;
}

.ui-bar-f a.ui-link:active {
	color: #2489CE /*{f-bar-link-active}*/;
}

.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid #1fa4e5 /*{f-body-border}*/;
	color: #282e33 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ 1px /*{f-body-shadow-y}*/ 0 /*{f-body-shadow-radius}*/ #eeeeee /*{f-body-shadow-color}*/;
	background: #ffffff /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{f-body-background-start}*/), to( #FFFFFF /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/);
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: #282e33 /*{f-body-color}*/;
}

.ui-body-f .ui-link {
	color: #2489CE /*{f-body-link-color}*/;
	font-weight: bold;
}

.ui-body-f .ui-link:visited {
    color: #2489CE /*{f-body-link-visited}*/;
}

.ui-body-f .ui-link:hover {
	color: #2489CE /*{f-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #2489CE /*{f-body-link-active}*/;
}

.ui-btn-up-f {
	border: 1px solid #1fa4e5 /*{f-bup-border}*/;
	background: #f3f3f3 /*{f-bup-background-color}*/;
	font-weight: bold;
	color: #0980ba /*{f-bup-color}*/;
	text-shadow: 0 /*{f-bup-shadow-x}*/ 1px /*{f-bup-shadow-y}*/ 1px /*{f-bup-shadow-radius}*/ #eeeeee /*{f-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{f-bup-background-start}*/), to( #f3f3f3 /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f3f3f3 /*{f-bup-background-start}*/, #f3f3f3 /*{f-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f3f3f3 /*{f-bup-background-start}*/, #f3f3f3 /*{f-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f3f3f3 /*{f-bup-background-start}*/, #f3f3f3 /*{f-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f3f3f3 /*{f-bup-background-start}*/, #f3f3f3 /*{f-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f3f3f3 /*{f-bup-background-start}*/, #f3f3f3 /*{f-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: #0980ba /*{f-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid #1fa4e5 /*{f-bhover-border}*/;
	background: #FFFFF8 /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{f-bhover-color}*/;
	text-shadow: 0 /*{f-bhover-shadow-x}*/ 1px /*{f-bhover-shadow-y}*/ 1px /*{f-bhover-shadow-radius}*/ #eeeeee /*{f-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{f-bhover-background-start}*/), to( #F7F7F0 /*{f-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{f-bhover-background-start}*/, #F7F7F0 /*{f-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{f-bhover-background-start}*/, #F7F7F0 /*{f-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{f-bhover-background-start}*/, #F7F7F0 /*{f-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{f-bhover-background-start}*/, #F7F7F0 /*{f-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{f-bhover-background-start}*/, #F7F7F0 /*{f-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: #e8ac04 /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #1fa4e5 /*{f-bdown-border}*/;
	background: #FFFFF8 /*{f-bdown-background-color}*/;
	font-weight: bold;
	color: #1fa4e5 /*{f-bdown-color}*/;
	text-shadow: 0 /*{f-bdown-shadow-x}*/ 1px /*{f-bdown-shadow-y}*/ 1px /*{f-bdown-shadow-radius}*/ #eeeeee /*{f-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E5E5DF /*{f-bdown-background-start}*/), to( #FFFFFF /*{f-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E5E5DF /*{f-bdown-background-start}*/, #FFFFFF /*{f-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E5E5DF /*{f-bdown-background-start}*/, #FFFFFF /*{f-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E5E5DF /*{f-bdown-background-start}*/, #FFFFFF /*{f-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E5E5DF /*{f-bdown-background-start}*/, #FFFFFF /*{f-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E5E5DF /*{f-bdown-background-start}*/, #FFFFFF /*{f-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: #1fa4e5 /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* G
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-g {
	border: 1px solid #c28fba /*{g-bar-border}*/;
	background: #c28fba /*{g-bar-background-color}*/;
	color: #000000 /*{g-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{g-bar-shadow-x}*/ 1px /*{g-bar-shadow-y}*/ 1px /*{g-bar-shadow-radius}*/ #eeeeee /*{g-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D59DCC /*{g-bar-background-start}*/), to( #AE80A7 /*{g-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #D59DCC /*{g-bar-background-start}*/, #AE80A7 /*{g-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #D59DCC /*{g-bar-background-start}*/, #AE80A7 /*{g-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #D59DCC /*{g-bar-background-start}*/, #AE80A7 /*{g-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #D59DCC /*{g-bar-background-start}*/, #AE80A7 /*{g-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #D59DCC /*{g-bar-background-start}*/, #AE80A7 /*{g-bar-background-end}*/);
}
.ui-bar-g .ui-link-inherit {
	color: #000000 /*{g-bar-color}*/;
}

.ui-bar-g a.ui-link {
	color: #7cc4e7 /*{g-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-g a.ui-link:visited {
    color: #2489CE /*{g-bar-link-visited}*/;
}

.ui-bar-g a.ui-link:hover {
	color: #2489CE /*{g-bar-link-hover}*/;
}

.ui-bar-g a.ui-link:active {
	color: #2489CE /*{g-bar-link-active}*/;
}

.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g,
.ui-overlay-g {
	border: 1px solid #c28fba /*{g-body-border}*/;
	color: #282e33 /*{g-body-color}*/;
	text-shadow: 0 /*{g-body-shadow-x}*/ 1px /*{g-body-shadow-y}*/ 0 /*{g-body-shadow-radius}*/ #eeeeee /*{g-body-shadow-color}*/;
	background: #ffffff /*{g-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{g-body-background-start}*/), to( #FFFFFF /*{g-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{g-body-background-start}*/, #FFFFFF /*{g-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{g-body-background-start}*/, #FFFFFF /*{g-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{g-body-background-start}*/, #FFFFFF /*{g-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{g-body-background-start}*/, #FFFFFF /*{g-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{g-body-background-start}*/, #FFFFFF /*{g-body-background-end}*/);
}
.ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g .ui-link-inherit {
	color: #282e33 /*{g-body-color}*/;
}

.ui-body-g .ui-link {
	color: #2489CE /*{g-body-link-color}*/;
	font-weight: bold;
}

.ui-body-g .ui-link:visited {
    color: #2489CE /*{g-body-link-visited}*/;
}

.ui-body-g .ui-link:hover {
	color: #2489CE /*{g-body-link-hover}*/;
}

.ui-body-g .ui-link:active {
	color: #2489CE /*{g-body-link-active}*/;
}

.ui-btn-up-g {
	border: 1px solid #c87ebc /*{g-bup-border}*/;
	background: #f3f3f3 /*{g-bup-background-color}*/;
	font-weight: bold;
	color: #c87ebc /*{g-bup-color}*/;
	text-shadow: 0 /*{g-bup-shadow-x}*/ 1px /*{g-bup-shadow-y}*/ 1px /*{g-bup-shadow-radius}*/ #eeeeee /*{g-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{g-bup-background-start}*/), to( #f3f3f3 /*{g-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f3f3f3 /*{g-bup-background-start}*/, #f3f3f3 /*{g-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f3f3f3 /*{g-bup-background-start}*/, #f3f3f3 /*{g-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f3f3f3 /*{g-bup-background-start}*/, #f3f3f3 /*{g-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f3f3f3 /*{g-bup-background-start}*/, #f3f3f3 /*{g-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f3f3f3 /*{g-bup-background-start}*/, #f3f3f3 /*{g-bup-background-end}*/);
}
.ui-btn-up-g:visited,
.ui-btn-up-g a.ui-link-inherit {
	color: #c87ebc /*{g-bup-color}*/;
}
.ui-btn-hover-g {
	border: 1px solid #c87ebc /*{g-bhover-border}*/;
	background: #FFFFF8 /*{g-bhover-background-color}*/;
	font-weight: bold;
	color: #e8ac04 /*{g-bhover-color}*/;
	text-shadow: 0 /*{g-bhover-shadow-x}*/ 1px /*{g-bhover-shadow-y}*/ 1px /*{g-bhover-shadow-radius}*/ #eeeeee /*{g-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{g-bhover-background-start}*/), to( #F7F7F0 /*{g-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{g-bhover-background-start}*/, #F7F7F0 /*{g-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{g-bhover-background-start}*/, #F7F7F0 /*{g-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{g-bhover-background-start}*/, #F7F7F0 /*{g-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{g-bhover-background-start}*/, #F7F7F0 /*{g-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{g-bhover-background-start}*/, #F7F7F0 /*{g-bhover-background-end}*/);
}
.ui-btn-hover-g:visited,
.ui-btn-hover-g:hover,
.ui-btn-hover-g a.ui-link-inherit {
	color: #e8ac04 /*{g-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid #c87ebc /*{g-bdown-border}*/;
	background: #FFFFF8 /*{g-bdown-background-color}*/;
	font-weight: bold;
	color: #c87ebc /*{g-bdown-color}*/;
	text-shadow: 0 /*{g-bdown-shadow-x}*/ 1px /*{g-bdown-shadow-y}*/ 1px /*{g-bdown-shadow-radius}*/ #eeeeee /*{g-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E5E5DF /*{g-bdown-background-start}*/), to( #FFFFFF /*{g-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E5E5DF /*{g-bdown-background-start}*/, #FFFFFF /*{g-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E5E5DF /*{g-bdown-background-start}*/, #FFFFFF /*{g-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E5E5DF /*{g-bdown-background-start}*/, #FFFFFF /*{g-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E5E5DF /*{g-bdown-background-start}*/, #FFFFFF /*{g-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E5E5DF /*{g-bdown-background-start}*/, #FFFFFF /*{g-bdown-background-end}*/);
}
.ui-btn-down-g:visited,
.ui-btn-down-g:hover,
.ui-btn-down-g a.ui-link-inherit {
	color: #c87ebc /*{g-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #c59607 /*{global-active-border}*/;
	background: #e8ac04 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ -1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #444444 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFBD04 /*{global-active-background-start}*/), to( #D09A03 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFBD04 /*{global-active-background-start}*/, #D09A03 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFBD04 /*{global-active-background-start}*/, #D09A03 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFBD04 /*{global-active-background-start}*/, #D09A03 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFBD04 /*{global-active-background-start}*/, #D09A03 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFBD04 /*{global-active-background-start}*/, #D09A03 /*{global-active-background-end}*/);
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
	border-top-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
	border-top-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
	border-top-left-radius: .4em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
	border-top-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-blocks}*/;
	border-top-right-radius: .4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-blocks}*/;
	border-top-left-radius: .4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: .4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: .4em /*{global-radii-blocks}*/;
	-webkit-border-radius: .4em /*{global-radii-blocks}*/;
	border-radius: .4em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: transparent /*{global-icon-disc}*/;
	background-image: url(images/icons-18-black.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #e8ac04 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
	border-top-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
	border-top-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
	border-top-left-radius: .4em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
	border-top-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .4em /*{global-radii-buttons}*/;
	border-top-right-radius: .4em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .4em /*{global-radii-buttons}*/;
	border-top-left-radius: .4em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: .4em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .4em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: .4em /*{global-radii-buttons}*/;
	-webkit-border-radius: .4em /*{global-radii-buttons}*/;
	border-radius: .4em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.1) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.1) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.1) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #e8ac04 /*{global-active-background-color}*/, 0px 0px 9px #e8ac04 /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #e8ac04 /*{global-active-background-color}*/, 0px 0px 9px #e8ac04 /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #e8ac04 /*{global-active-background-color}*/, 0px 0px 9px #e8ac04 /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #e8ac04 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #e8ac04 /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #e8ac04 /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}
