/*@import "normalize.css";
*/
* {
    padding:0;
    margin:0;
    border:none;
}
body,html{height: 100%;width:100%}
body {position: relative;}

/**
TODO remove this style when jquery_mobile.js would be removed from mobile.js
*/
.ui-loader-default {
    display: none;
}
/** Special panel */
#sp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    cursor: pointer;
    box-sizing: border-box !important;
    pointer-events: none;
}

#sp_background {
    height: 100%;
    border: 1px dashed #d63f80;
    cursor: pointer;
    box-sizing: border-box !important;
    pointer-events: none;
}

#sp_bp {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: white;
    border: 1px solid #ccc;
    padding-left: 2px;
    z-index: 1000;
    box-sizing: border-box !important;
    pointer-events: auto;
}

#sp_bp.ui-controlgroup {
    margin: 0;
    box-sizing: border-box !important;
}

#sp_upBtn, #sp_delBtn, #sp_addBtn {
    width: 14px;
    margin: 2px 2px 2px 0;
    background: #666;
    background: rgba(0, 0, 0, .4);
    background-repeat: no-repeat;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    height: 14px;
    background-size: 14px;
    float: left;
    box-sizing: border-box !important;
}

#sp_upBtn {
    background-image: url(mobile/images/up.png);
}

#sp_delBtn {
    background-image: url(mobile/images/remove.png);
}

#sp_addBtn {
    background-image: url(mobile/images/star.png);
}

/*Flex center layout section begin */
.dark {
    background: #1D1D1D;
}
.flexbox-clearfix{
    display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*TODO:temp*/

/*TODO:temp end*/
.flexbox-wrapper {
    width: 100%;
    height: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.flexbox-wrapper > .flx_metro_child {
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flx_align_center {
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
}
/*Flex center layout section end */
/*Flex column layout section begin */
.flx_direction_column {
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;

    box-direction: normal;
    -moz-box-direction: normal;
    -o-box-direction: normal;
    -webkit-box-direction: normal;
}
/*Flex center layout section end */
/*Flex column reverse layout section begin */
.flx_direction_column-reverse {
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;

    box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-direction: reverse;
}
/*Flex column reverse layout section end */
/*Flex end layout section begin */
.flx_align_end {
    -box-align: end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
}
/*Flex end layout section end */
/*Flex row center left layout section begin */
.flx_pack_start {
    box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -webkit-box-pack: start; 
}
/*Flex row center left layout section end */
/*Flex row center right layout section begin */
.flx_pack_end {
    box-pack: end;
    -o-box-pack: end;
    -moz-box-pack: end;
    -webkit-box-pack: end;
}
/*Flex row center right layout section end */
/*Flex row justify layout section begin */
.flx_pack_justify {
    box-pack: justify;
    -o-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
}
/*Flex row justify layout section end */
/*Flex row justify layout section begin */
.flx_pack_center {
    box-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}
/*Flex row justify layout section end */
/*Flex row reverse layout section begin */
.flx_direction_row-reverse {
    box-orient: horizontal;
    -o-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;

    box-direction : reverse;
    -o-box-direction : reverse;
    -moz-box-direction : reverse;
    -webkit-box-direction : reverse;
}
/*Flex row reverse layout section end */
/*Flex row  layout section begin */
.flx_direction_row {
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}
/*Flex row  layout section end */
/*Flex start layout section begin */
.flx_align_start{
    box-align: start;
    -o-box-align: start;
    -webkit-box-align: start;
    -moz-box-align: start;
}
/*Flex start layout section end */
/*Flex start layout section begin */
.flx_align_baseline{
    box-align: baseline;
    -o-box-align: baseline;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
}
/*Flex start layout section end */
/*Flex stretch layout section begin */
.flx_align_stretch {
    box-align: stretch;
    -o-box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
}
/*Rules which are viewable only for firefox begin*/
@-moz-document url-prefix() {
    .flx_center_row > .flx_metro_child {
        height: 300px;
    }
}
/*Rules which are viewable only for firefox end*/


/*--styles for form controls begin--*/

/*Flex stretch layout section end */
/*Flex wrap layout section begin */
/* TODO
.flx_wrap_wrap {
    display: block;
}
.flx_wrap_wrap.flx_align_center {vertical-align: middle;}
.flx_wrap_wrap.flx_align_end,
.flx_wrap_wrap.flx_align_end > .flx_metro_child {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.flx_wrap_wrap.flx_pack_end{text-align: right;}
.flx_wrap_wrap.flx_pack_justify{text-align: center;}

.flx_wrap_wrap > .flx_metro_child {
    display: inline-block;
    vertical-align: top;
}
*/
/*Flex wrap layout section end */
/*Flex wrap reverse layout section begin */
/* TODO
.flx_wrap_wrap-reverse {
    flex-flow: column-reverse wrap;
    -webkit-flex-flow:  column-reverse wrap;
    -moz-flex-flow:  column-reverse wrap;
    -o-flex-flow:  column-reverse wrap;

    -webkit-flex-flow: row wrap-reverse;  `wrap` gives us a multi-line flexbox.
    -moz-flex-flow: row wrap-reverse;
    -ms-flex-flow: row wrap-reverse;
    -o-flex-flow: row wrap-reverse;
}
*/
/*Flex wrap reverse layout section end */
/*Flex wrap-none layout section begin */
/* TODO
.flx_wrap-none {
    flex-flow: nowrap;

    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
}
*/
/*Flex wrap layout section end */

/*.flexbox-clearfix {*/
    /*display: block;*/
    /*overflow: hidden;*/
/*}*/
.flx_wrap_wrap,
.flx_wrap_wrap-reverse {
    display: table-cell;
}
/*-----*/
    .flx_wrap_wrap > .flx_metro_child,
    .flx_wrap_wrap-reverse > .flx_metro_child {
        display: inline-block;
    }
/*-----*/

/*-----*/
    .flx_wrap_wrap[class*="row"].flx_align_end {
        vertical-align: bottom;
    }
    .flx_wrap_wrap[class*="row"].flx_align_center {
        vertical-align: middle;
    }
    .flx_wrap_wrap[class*="row"].flx_align_baseline {
        vertical-align: baseline;
    }
    .flx_wrap_wrap[class*="row"].flx_align_stretch {
        /* calculate in js*/
    }

    .flx_wrap_wrap.flx_direction_row-reverse,
    .flx_wrap_wrap.flx_direction_row-reverse > .flx_metro_child {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .flx_wrap_wrap.flx_direction_column-reverse,
    .flx_wrap_wrap.flx_direction_column-reverse .helper-flexbox > .flx_metro_child {
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .flx_wrap_wrap-reverse.flx_direction_row-reverse,
    .flx_wrap_wrap-reverse.flx_direction_row-reverse > .flx_metro_child {
        transform: scaleY(-1) scaleX(-1) !important;
        -webkit-transform: scaleY(-1) scaleX(-1) !important;
        -o-transform: scaleY(-1) scaleX(-1) !important;
        -moz-transform: scaleY(-1) scaleX(-1) !important;
    }
    .flx_wrap_wrap-reverse.flx_direction_column-reverse,
    .flx_wrap_wrap-reverse.flx_direction_column-reverse .helper-flexbox > .flx_metro_child {
        -moz-transform: scaleY(-1) scaleX(-1) !important;
        -webkit-transform: scaleY(-1) scaleX(-1) !important;
        -o-transform: scaleY(-1) scaleX(-1) !important;
        transform: scaleY(-1) scaleX(-1) !important;
    }

    .flx_wrap_wrap-reverse[class*="row"],
    .flx_wrap_wrap-reverse[class*="row"] > .flx_metro_child {
        transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
    }
    .flx_wrap_wrap-reverse[class*="col"],
    .flx_wrap_wrap-reverse[class*="col"] .helper-flexbox > .flx_metro_child {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
    }
    /*.flx_wrap_wrap.flx_direction_column-reverse > .flx_metro_child,*/
    /*.flx_wrap_wrap.flx_direction_column > .flx_metro_child {*/
        /*display: table-cell;*/
    /*}*/


/*-----*/
/*-----*/
    .flx_wrap_wrap.flx_direction_row.flx_pack_end,
    .flx_wrap_wrap.flx_direction_row-reverse.flx_pack_end,
    .flx_wrap_wrap-reverse.flx_direction_row.flx_pack_end,
    .flx_wrap_wrap-reverse.flx_direction_row-reverse.flx_pack_end{
        text-align: right;
    }
    .flx_wrap_wrap.flx_direction_row.flx_pack_center,
    .flx_wrap_wrap.flx_direction_row-reverse.flx_pack_center,
    .flx_wrap_wrap-reverse.flx_direction_row.flx_pack_center,
    .flx_wrap_wrap-reverse.flx_direction_row-reverse.flx_pack_center{
        text-align: center;
    }
    .flx_wrap_wrap.flx_direction_row.flx_pack_justify,
    .flx_wrap_wrap.flx_direction_row-reverse.flx_pack_justify,
    .flx_wrap_wrap-reverse.flx_direction_row.flx_pack_justify,
    .flx_wrap_wrap-reverse.flx_direction_row-reverse.flx_pack_justify{
        text-align: justify;
        text-align-last: justify;
        -moz-text-align-last: justify;
        -o-text-align-last: justify;
        -webkit-text-align-last: justify;
    }

/*-----*/
.helper-flexbox {
    display: inline-block;
}
.flx_wrap_wrap[class*="column"].flx_pack_start,
.flx_wrap_wrap[class*="column"].flx_pack_start > .helper-col {
    vertical-align: top;
}
.flx_wrap_wrap[class*="column"].flx_pack_center,
.flx_wrap_wrap[class*="column"].flx_pack_center > .helper-col {
    vertical-align: middle;
}
.flx_wrap_wrap[class*="column"].flx_pack_end,
.flx_wrap_wrap[class*="column"].flx_pack_end > .helper-col {
    vertical-align: bottom;
}
.flx_wrap_wrap[class*="column"].flx_pack_justify,
.flx_wrap_wrap[class*="column"].flx_pack_justify > .helper-col {
    vertical-align: top;

}

.flx_wrap_wrap[class*="column"].flx_align_end,
.flx_wrap_wrap[class*="column"].flx_align_end > .helper-col,
.flx_wrap_wrap-reverse[class*="column"].flx_align_end,
.flx_wrap_wrap-reverse[class*="column"].flx_align_end > .helper-col{
    text-align: right;
}
.flx_wrap_wrap[class*="column"].flx_align_center,
.flx_wrap_wrap[class*="column"].flx_align_center > .helper-col,
.flx_wrap_wrap-reverse[class*="column"].flx_align_center,
.flx_wrap_wrap-reverse[class*="column"].flx_align_center > .helper-col {
    text-align: center;
}
.flx_wrap_wrap[class*="column"].flx_align_stretch,
.flx_wrap_wrap[class*="column"].flx_align_stretch > .helper-col,
.flx_wrap_wrap-reverse[class*="column"].flx_align_stretch,
.flx_wrap_wrap-reverse[class*="column"].flx_align_stretch > .helper-col {
    text-align: center;
    /* calculate in js*/
}



.flx_wrap_wrap-reverse[class*="row"].flx_align_start {
    vertical-align: bottom;
}
.flx_wrap_wrap-reverse[class*="row"].flx_align_center {
    vertical-align: middle;
}
.flx_wrap_wrap-reverse[class*="row"].flx_align_end {
    vertical-align: top;
}
.flx_wrap_wrap-reverse[class*="row"].flx_align_justify {
    vertical-align: bottom;
}

.flx_wrap_wrap-reverse[class*="column"].flx_pack_start {
    vertical-align: bottom;
}
.flx_wrap_wrap-reverse[class*="column"].flx_pack_center {
    vertical-align: middle;
}
.flx_wrap_wrap-reverse[class*="column"].flx_pack_end {
    vertical-align: top;
}
.flx_wrap_wrap-reverse[class*="column"].flx_pack_justify {
    vertical-align: bottom;
}

.metro-bean-wrapper,
.metro-form-control {
    margin-bottom: 10px;
}
.metro-form-control * {
    color: #FFFFFF;
}
.metro-form-control label {
    font-size:11pt;
    font-family: 'Open Sans',sans-serif;
}
    /*select box begin*/
        .metro-form-control .metro-select-box {
            position: relative;
        }
        .metro-form-control .metro-select-box select {
            background: #d2d2d2;
            border: 2px #d2d2d2 solid;
            color: #646464;
            border-radius: 0;
            font-size: 11pt;
            padding: 5px 8px;
            position: relative;
            width: 100%;
            outline: 0;
            display: inline-block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .metro-form-control .metro-select-box select:focus {
            background: #fff;
            border-color: #fff;
            color: #000;
        }
        .metro-form-control .metro-select-box select:disabled {
            background: #1d1d1d;
            border: 2px #777777 solid;
        }

        .metro-form-control .metro-select-box select:not(:focus):not(:disabled):hover {
            background: #e2e2e2;
        }

        .metro-form-control .metro-select-box select:disabled+.helper::before {
            background: #1d1d1d;
            color: #646464;
        }
        .metro-form-control .metro-select-box select:focus+.helper::before,
        .metro-form-control .metro-select-box:hover select:focus:not(:disabled)+.helper::before{
            background: #fff !important;
        }
        .metro-form-control .metro-select-box:hover select:not(:disabled)+.helper:before {
            /*background: #dedede !important;*/
            /*background: #e2e2e2;*/
        }
        .metro-form-control .metro-select-box:action select+.helper:before {
            background: #000 !important;
        }
        .metro-form-control .metro-select-box select option {
            color: #000;
        }
        /*.metro-form-control .metro-select-box select[multiple] {*/
            /*padding: 0;*/
        /*}*/
    /*select box end*/

    /*select box  like lis begin*/
        .metro-select-box-list .metro-select {
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: solid 2px #666;
            background: #fff;
            overflow-y: auto;
        }
        .metro-select-box-list .metro-select .metro-select-option {
            color: #646464;
            padding: 5px 8px;
            font-family: 'Open Sans',sans-serif;
        }
        .metro-select-box-list .metro-select .metro-select-option.checked {
            background: #06808a;
            color: #fff;
        }
    /*select box like lis end*/

    /*date-time picker begin*/
        .metro-picker {
            width: 100%;
        }
        .metro-picker .metro-picker-item {
            display: inline-block;
            width: 90px;
            padding: 0 15px 10px 0;
        }
        .metro-picker .metro-picker-item-big {
            width: 150px;
        }
    /*date-time picker end*/

    /*input box begin*/
        .metro-form-control .metro-text-box {
            position: relative;
        }
        .metro-form-control .metro-text-box input {
            background: #d2d2d2;
            border: 2px #d2d2d2 solid;
            color: #646464;
            border-radius: 0;
            font-size: 11pt;
            padding: 5px 8px;
            position: relative;
            width: 100%;
            outline: 0;
            display: inline-block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .metro-form-control .metro-text-box input:focus {
            background: #fff;
            border-color: #fff;
            color: #000;
        }
        .metro-form-control .metro-text-box input:disabled,
        .metro-form-control .metro-select-box-list .metro-select.disabled,
        .metro-form-control .metro-select-box-list .metro-select[disabled] {
            background: #1d1d1d;
            border: 2px #777777 solid;
        }

        .metro-form-control .metro-text-box input:not(:focus):not(:disabled):hover {
            background: #e2e2e2;
        }
        .metro-form-control .metro-text-box .helper {
            cursor: pointer;
            z-index: 100;
        }
        .metro-form-control .metro-text-box input+.helper::before {
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            background: #ccc;
            top: 3px;
            right: 4px;
            visibility: hidden;
            content: "\00d7";
            font-size: 15pt;
            font-weight: bold;
            color: #000;
            cursor: pointer;
            text-align: center;
            vertical-align: center;
        }
        .metro-form-control .metro-text-box input:focus+.helper::before {
            visibility: visible;
        }
        .metro-form-control .metro-text-box:hover input+.helper:before {
            background: #dedede !important;
        }
        .metro-form-control .metro-text-box:action input+.helper:before {
            background: #000 !important;
        }
    /*input box end*/

    /*radio button begin*/
        .metro-form-control .metro-radio,
        .metro-form-control .metro-check {
            cursor: pointer;
            cursor: hand;
            position: relative;
        }
        .metro-form-control .metro-radio span,
        .metro-form-control .metro-check span {
            position: relative;
        }
        .metro-form-control .metro-radio input[type=radio],
        .metro-form-control .metro-radio input[type=radio]+span,
        .metro-form-control .metro-radio input[type=radio]+span::before,
        .metro-form-control .metro-radio input[type=radio]+span::after {
            vertical-align: middle;
            display: inline-block;
        }
        .metro-form-control .metro-radio input[type=radio] {
            position: absolute;
            filter: alpha(opacity = 0);
            -moz-opacity: 0;
            opacity: 0;
        }
        .metro-form-control .metro-radio input[type=radio]+span {
            font: normal 13px/14px 'Open Sans', sans-serif;
        }
        .metro-form-control .metro-radio input[type=radio]+span::before {
            content: "\2022";
            text-indent: -9999px;
            width: 24px;
            height: 24px;
            background: #cfcfcf;
            margin-right: 10px;
            border-radius: 50%;
        }
        .metro-form-control .metro-radio input[type=radio]:checked+span::after {
            text-indent: -9999px;
            position: absolute;
            content: "\2022";
            background: #212121;
            z-index: 1000;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            left: 6px;
            top: 6px;
        }
        .metro-form-control .metro-radio input[type=radio]:checked+span::before {
            background: #d1d1d1;
        }
        .metro-form-control .metro-radio input[type=radio]:not(:checked):disabled+span::before {
            cursor: default;
            background: #868686;
        }
        .metro-form-control .metro-radio input[type=radio]:disabled+span::before {
            cursor: default;
            background: #868686;
        }
        .metro-form-control .metro-radio input[type=radio]:disabled+span::after {
            background: #484848;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:not(:checked):disabled+span::before {
            background: #868686;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:not(:checked)+span::before {
            background: #ffffff;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:checked+span::before {
            background: #dfdfdf;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:checked:disabled+span::before {
            background: #868686;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:checked:disabled+span::after {
            background: #484848;
        }
        .metro-form-control .metro-radio:hover input[type=radio]:checked+span::after {
            background: #000000;
        }
    /*radio button end*/

    /*checkbox begin*/
        .metro-form-control .metro-check input[type=checkbox],
        .metro-form-control .metro-check input[type=checkbox]+span,
        .metro-form-control .metro-check input[type=checkbox]+span::before,
        .metro-form-control .metro-check input[type=checkbox]+span::after {
            vertical-align: middle;
            display: inline-block;
        }
        .metro-form-control .metro-check input[type=checkbox] {
            position: absolute;
            filter: alpha(opacity = 0);
            -moz-opacity: 0;
            opacity: 0;
        }
        .metro-form-control .metro-check input[type=checkbox]+span {
            font: normal 13px/14px 'Open Sans', sans-serif;
        }
        .metro-form-control .metro-check:hover input[type=checkbox]+span::before {
            background: #fff;
        }
        .metro-form-control .metro-check:hover input[type=checkbox]:checked+span::before {
            background: #e1e1e1;
        }
        .metro-form-control .metro-check input[type=checkbox]+span::before {
            content: "\2714";
            text-indent: -9999px;
            width: 22px;
            height: 22px;
            background: #d1d1d1;
            margin-right: 10px;
        }
        .metro-form-control .metro-check input[type=checkbox]:checked+span::after {
            position: absolute;
            content: "\2713";
            color: #202020;
            z-index: 1000;
            font-size: 20px;
            font-weight: bold;
            font-family: Tahoma;
            left: 3px;
            top: 2px;
        }
        .metro-form-control .metro-check input[type=checkbox]:checked+span::before {
            background: #d1d1d1;
        }
        .metro-form-control .metro-check input[type=checkbox]:not(:checked):disabled+span::before {
            cursor: default;
            background: #767676;
        }
        .metro-form-control .metro-check input[type=checkbox]:disabled+span::before {
            cursor: default;
            background: #767676;
        }
        .metro-form-control .metro-check input[type=checkbox]:disabled+span::after {
            color: #4c4c4c;
        }
        .metro-form-control .metro-check:hover input[type=checkbox]:disabled+span::before {
            cursor: default;
            background: #767676;
        }
    /*checkbox end*/

    /*checkbox begin*/
        .metro-form-control .metro-switch {
            cursor: pointer;
            cursor: hand;
            position: relative;
        }
        .metro-form-control .metro-switch span {
            position: relative;
        }
        .metro-form-control .metro-switch input[type=checkbox],
        .metro-form-control .metro-switch input[type=checkbox]+span,
        .metro-form-control .metro-switch input[type=checkbox]+span::before, .metro .metro-switch input[type=checkbox]+span::after {
            vertical-align: middle;
            display: inline-block;
        }
        .metro-form-control .metro-switch input[type=checkbox] {
            filter: alpha(opacity = 0);
            -moz-opacity: 0;
            opacity: 0;
        }
        .metro-form-control .metro-switch input[type=checkbox]+span {
            font: normal 13px/14px 'Open Sans', sans-serif;
        }
        .metro-form-control .metro-switch input[type=checkbox]+span::before {
            content: "";
            width: 43px;
            height: 16px;
            outline: 2px #777777 solid;
            border: 1px #1c1c1c solid;
            cursor: pointer;
            background: #6c6c6c;
            margin-left: 2px;
            position: relative;
            margin-right: 10px;
            z-index: 100;
        }
        .metro-form-control .metro-switch input[type=checkbox]+span::after {
            content: "";
            position: absolute;
            top: -1px;
            left: 34px;
            width: 13px;
            height: 19px;
            background: #ffffff;
            z-index: 1000;
        }
        .metro-form-control .metro-switch input[type=checkbox]:checked+span::before {
            background: #008287;
        }
        .metro-form-control .metro-switch input[type=checkbox]:not(:checked)+span::after {
            top: -1px;
            left: 0px;
        }
        .metro-form-control .metro-switch input[type=checkbox]:disabled+span::before {
            cursor: default !important;
            background: #383838;
            outline: 2px #494949 solid;
        }
        .metro-form-control .metro-switch input[type=checkbox]:disabled+span::after {
            background: #6c6c6c;
        }
        .metro-form-control .metro-switch:hover input[type=checkbox]:not(:checked)+span::before {
            background: #5f5f5f;
        }

        .metro-form-control .metro-switch:hover input[type=checkbox]+span::before {
            background: #219297;
        }
        .metro-form-control .metro-switch:hover input[type=checkbox]:disabled+span::before {
            cursor: default;
            background: #383838;
        }
    /*checkbox end*/

    /*button begin*/
        .metro-button {
            text-decoration: none;
            border: 2px #e2e2e2 solid;
            padding: 5px 20px;
            margin: 10px 10px 0 10px;
            color: #fff;
            background: #1d1d1d;
            cursor: pointer;
            min-width: 95px !important;
            display: inline-block;
            position: relative;
            text-align: center;
            border-radius: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 10pt;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .metro-button:hover {
            background: #3a3a3a;
        }

        .metro-button.default:hover {
            background: #219297;
        }

        .metro-button:active {
            background: #ffffff;
            color: #1d1d1d !important;
            top: 2px;
            left: 2px;
        }

        .metro-button.disabled,
        .metro-button:disabled,
        .metro-button[disabled],
        .metro-command-button.disabled,
        .metro-command-button[disabled],
        .metro-command-button:disabled {
            border-color: #777777;
            color: #777777 !important;
            cursor: default;
            background: #1d1d1d !important;
        }
        .metro-button.disabled:hover,
        .metro-button:disabled:hover,
        .metro-command-button.disabled:hover,
        .metro-command-button:disabled:hover {
            background: #1d1d1d;
        }
        .metro-button.disabled:active,
        .metro-button:disabled:active,
        .metro-command-button.disabled:active,
        .metro-command-button:disabled:active {
            top: 0;
            left: 0;
        }
        input.metro-button,
        button.metro-button {
            min-width: 94px !important;
        }
        .metro-button.default {
            background: #008287;
        }
        .metro-button.default:active {
            background: #fff;
        }
    /*button end*/
    /*command button begin*/
        .metro-command-button {
            text-decoration: none;
            border: 2px #ffffff solid;
            padding: 5px 20px 10px 20px;
            display: inline-block;
            min-width: 240px;
            background: #1d1d1d;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            margin: 10px 10px 0 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .metro-command-button .title {
            color: #fff;
            display: block;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            font-size: 12pt;
        }
        .metro-command-button .subtitle {
            color: #a1a1a1;
            display: block;
            font-size: 10pt;
        }
        .metro-command-button:hover {
            background: #3a3a3a;
        }
        .metro-command-button:active {
            background: #ffffff;
            top: 2px;
            left: 2px;
        }
        .metro-command-button:active * {
            color: #000;
        }
        .metro-command-button.default {
            background: #008287;
        }
        .metro-command-button.default:active {
            background: #fff;
        }
        .metro-command-button.default:hover {
            background: #219297;
        }
        button.metro-command-button {
            text-align: left;
            min-width: 240px !important;
        }
        .metro-command-button.disabled .title,
        .metro-command-button:disabled .title,
        .metro-command-button.disabled .subtitle,
        .metro-command-button:disabled .subtitle {
            color: #3a3a3a;
        }
        .metro-command-button.disabled:active .title,
        .metro-command-button:disabled:active .title,
        .metro-command-button.disabled:active .subtitle,
        .metro-command-button:disabled:active .subtitle {
            color: #3a3a3a;
        }
    /*command button end*/

/*--styles for form controls end--*/

/*--styles for AppBar strt--*/
    .metro-appbar {
        position: absolute;
        width: 100%;
        bottom: 0;
        left:0;
        background: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .metro-appbar.metro-appbar-top {
        bottom: auto;
        top:0;
    }
    .metro-appbar .metro-appbar-layot {
        width: 100%;
        min-height: 40px;
        overflow: hidden;
    }
    .metro-appbar .metro-appbar-leftIcons {
        text-align: left;
        float: left;
        position: relative;
    }
    .metro-appbar .metro-appbar-centerIcons {
        text-align: center;
        position: absolute;
        width: 100%;
    }
    .metro-appbar .metro-appbar-rightIcons {
        text-align: right;
        float: right;
        position: relative;
    }
    .metro-appbar-button {
        display: inline-block;
        background: none;
        padding: 5px;
        vertical-align: top;
        text-align: center;
        width:65px;
    }
    .metro-appbar-button .metro-appbar-icn {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: solid 1px #000;
        text-align: center;
        line-height: 32px;
        font-size: 20px;
    }
    .metro-appbar-button:hover .metro-appbar-icn {
        background: #999;
    }

    .metro-appbar-smal .metro-appbar-title {
        display: none;
    }
    .metro-appbar-smal .metro-appbar-button {
        width:auto;
    }

    .metro-appbar-short-right {
        width:75%;
        left:auto;
        right: 0;
    }

    .metro-appbar-short-left {
        width:25%;
    }

.metro-appbar-short-left .metro-appbar-leftIcons,
.metro-appbar-short-left .metro-appbar-centerIcons,
.metro-appbar-short-left .metro-appbar-rightIcons{
    float: left;
    position: static;
    width: auto;
}
.metro-appbar-short-left .metro-appbar-button {
    width: auto;
    padding: 3px 2px;
}
/*--styles for AppBar end--*/

/*icomoon strt*/

@font-face {
    font-family: 'IcoMoon';
    src: url('../font/IcoMoon.eot');
    src: url('../font/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../font/IcoMoon.svg#IcoMoon') format('svg'),
    url('../font/IcoMoon.woff') format('woff'),
    url('../font/IcoMoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'IcoMoon';
    content: attr(data-icon);
    speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'IcoMoon';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    width: 16px;
    speak: none;
    background-image: none;
    background-position: inherit;
}
.icon-home:before {
    content: "\0021";
}
.icon-home-2:before {
    content: "\0022";
}
.icon-home-3:before {
    content: "\0023";
}
.icon-newspaper:before {
    content: "\0024";
}
.icon-pencil:before {
    content: "\0025";
}
.icon-pencil-2:before {
    content: "\0026";
}
.icon-droplet:before {
    content: "\0027";
}
.icon-picture:before {
    content: "\0028";
}
.icon-picture-2:before {
    content: "\0029";
}
.icon-camera:before {
    content: "\002a";
}
.icon-music:before {
    content: "\002b";
}
.icon-play:before {
    content: "\002c";
}
.icon-film:before {
    content: "\002d";
}
.icon-camera-2:before {
    content: "\002e";
}
.icon-spades:before {
    content: "\002f";
}
.icon-clubs:before {
    content: "\0030";
}
.icon-diamonds:before {
    content: "\0031";
}
.icon-broadcast:before {
    content: "\0032";
}
.icon-microphone:before {
    content: "\0033";
}
.icon-book:before {
    content: "\0034";
}
.icon-paper:before {
    content: "\0035";
}
.icon-paper-2:before {
    content: "\0036";
}
.icon-new:before {
    content: "\0037";
}
.icon-copy:before {
    content: "\0038";
}
.icon-folder:before {
    content: "\0039";
}
.icon-folder-2:before {
    content: "\003a";
}
.icon-tag:before {
    content: "\003b";
}
.icon-cart:before {
    content: "\003c";
}
.icon-basket:before {
    content: "\003d";
}
.icon-calculate:before {
    content: "\003e";
}
.icon-support:before {
    content: "\003f";
}
.icon-phone:before {
    content: "\0040";
}
.icon-mail:before {
    content: "\0041";
}
.icon-location:before {
    content: "\0042";
}
.icon-compass:before {
    content: "\0043";
}
.icon-history:before {
    content: "\0044";
}
.icon-clock:before {
    content: "\0045";
}
.icon-bell:before {
    content: "\0046";
}
.icon-bell-2:before {
    content: "\0047";
}
.icon-bell-3:before {
    content: "\0048";
}
.icon-calendar:before {
    content: "\0049";
}
.icon-mouse:before {
    content: "\004a";
}
.icon-screen:before {
    content: "\004b";
}
.icon-laptop:before {
    content: "\004c";
}
.icon-mobile:before {
    content: "\004d";
}
.icon-tablet:before {
    content: "\004e";
}
.icon-mobile-2:before {
    content: "\004f";
}
.icon-drawer:before {
    content: "\0050";
}
.icon-drawer-2:before {
    content: "\0051";
}
.icon-box-add:before {
    content: "\0052";
}
.icon-box-remove:before {
    content: "\0053";
}
.icon-database:before {
    content: "\0054";
}
.icon-undo:before {
    content: "\0055";
}
.icon-redo:before {
    content: "\0056";
}
.icon-forward:before {
    content: "\0057";
}
.icon-reply:before {
    content: "\0058";
}
.icon-reply-2:before {
    content: "\0059";
}
.icon-comments:before {
    content: "\005a";
}
.icon-comments-2:before {
    content: "\005b";
}
.icon-comments-3:before {
    content: "\005c";
}
.icon-comments-4:before {
    content: "\005d";
}
.icon-comments-5:before {
    content: "\005e";
}
.icon-comments-6:before {
    content: "\005f";
}
.icon-user:before {
    content: "\0060";
}
.icon-user-2:before {
    content: "\0061";
}
.icon-user-3:before {
    content: "\0062";
}
.icon-busy:before {
    content: "\0063";
}
.icon-loading:before {
    content: "\0064";
}
.icon-loading-2:before {
    content: "\0065";
}
.icon-search:before {
    content: "\0066";
}
.icon-search-2:before {
    content: "\0067";
}
.icon-zoom-in:before {
    content: "\0068";
}
.icon-zoom-out:before {
    content: "\0069";
}
.icon-key:before {
    content: "\006a";
}
.icon-key-2:before {
    content: "\006b";
}
.icon-locked:before {
    content: "\006c";
}
.icon-unlocked:before {
    content: "\006d";
}
.icon-wrench:before {
    content: "\006e";
}
.icon-equalizer:before {
    content: "\006f";
}
.icon-cog:before {
    content: "\0070";
}
.icon-pie:before {
    content: "\0071";
}
.icon-bars:before {
    content: "\0072";
}
.icon-stats-up:before {
    content: "\0073";
}
.icon-gift:before {
    content: "\0074";
}
.icon-trophy:before {
    content: "\0075";
}
.icon-diamond:before {
    content: "\0076";
}
.icon-coffee:before {
    content: "\0077";
}
.icon-rocket:before {
    content: "\0078";
}
.icon-meter-slow:before {
    content: "\0079";
}
.icon-meter-medium:before {
    content: "\007a";
}
.icon-meter-fast:before {
    content: "\007b";
}
.icon-dashboard:before {
    content: "\007c";
}
.icon-fire:before {
    content: "\007d";
}
.icon-lab:before {
    content: "\e000";
}
.icon-remove:before {
    content: "\e001";
}
.icon-remove-2:before {
    content: "\e002";
}
.icon-remove-3:before {
    content: "\e003";
}
.icon-briefcase:before {
    content: "\e004";
}
.icon-briefcase-2:before {
    content: "\e005";
}
.icon-cars:before {
    content: "\e006";
}
.icon-bus:before {
    content: "\e007";
}
.icon-cube:before {
    content: "\e008";
}
.icon-cube-2:before {
    content: "\e009";
}
.icon-puzzle:before {
    content: "\e00a";
}
.icon-glasses:before {
    content: "\e00b";
}
.icon-glasses-2:before {
    content: "\e00c";
}
.icon-accessibility:before {
    content: "\e00d";
}
.icon-accessibility-2:before {
    content: "\e00e";
}
.icon-target:before {
    content: "\e00f";
}
.icon-target-2:before {
    content: "\e010";
}
.icon-lightning:before {
    content: "\e011";
}
.icon-power:before {
    content: "\e012";
}
.icon-power-2:before {
    content: "\e013";
}
.icon-clipboard:before {
    content: "\e014";
}
.icon-clipboard-2:before {
    content: "\e015";
}
.icon-playlist:before {
    content: "\e016";
}
.icon-grid-view:before {
    content: "\e017";
}
.icon-tree-view:before {
    content: "\e018";
}
.icon-menu:before {
    content: "\e019";
}
.icon-menu-2:before {
    content: "\e01a";
}
.icon-cloud:before {
    content: "\e01b";
}
.icon-cloud-2:before {
    content: "\e01c";
}
.icon-download:before {
    content: "\e01d";
}
.icon-upload:before {
    content: "\e01e";
}
.icon-upload-2:before {
    content: "\e01f";
}
.icon-link:before {
    content: "\e020";
}
.icon-link-2:before {
    content: "\e021";
}
.icon-flag:before {
    content: "\e022";
}
.icon-flag-2:before {
    content: "\e023";
}
.icon-flag-3:before {
    content: "\e024";
}
.icon-eye:before {
    content: "\e025";
}
.icon-eye-2:before {
    content: "\e026";
}
.icon-bookmark:before {
    content: "\e027";
}
.icon-bookmark-2:before {
    content: "\e028";
}
.icon-star:before {
    content: "\e029";
}
.icon-star-2:before {
    content: "\e02a";
}
.icon-star-3:before {
    content: "\e02b";
}
.icon-heart:before {
    content: "\e02c";
}
.icon-heart-2:before {
    content: "\e02d";
}
.icon-thumbs-up:before {
    content: "\e02e";
}
.icon-thumbs-down:before {
    content: "\e02f";
}
.icon-happy:before {
    content: "\e030";
}
.icon-smiley:before {
    content: "\e031";
}
.icon-neutral:before {
    content: "\e032";
}
.icon-plus:before {
    content: "\e033";
}
.icon-minus:before {
    content: "\e034";
}
.icon-help:before {
    content: "\e035";
}
.icon-help-2:before {
    content: "\e036";
}
.icon-info:before {
    content: "\e037";
}
.icon-blocked:before {
    content: "\e038";
}
.icon-cancel:before {
    content: "\e039";
}
.icon-cancel-2:before {
    content: "\e03a";
}
.icon-cancel-3:before {
    content: "\e03b";
}
.icon-checkmark:before {
    content: "\e03c";
}
.icon-minus-2:before {
    content: "\e03d";
}
.icon-plus-2:before {
    content: "\e03e";
}
.icon-enter:before {
    content: "\e03f";
}
.icon-exit:before {
    content: "\e040";
}
.icon-loop:before {
    content: "\e041";
}
.icon-arrow-up:before {
    content: "\e042";
}
.icon-arrow-right:before {
    content: "\e043";
}
.icon-arrow-down:before {
    content: "\e044";
}
.icon-arrow-left:before {
    content: "\e045";
}
.icon-arrow-up-left:before {
    content: "\e046";
}
.icon-arrow-up-2:before {
    content: "\e047";
}
.icon-arrow-up-right:before {
    content: "\e048";
}
.icon-arrow-right-2:before {
    content: "\e049";
}
.icon-arrow-down-right:before {
    content: "\e04a";
}
.icon-arrow-down-2:before {
    content: "\e04b";
}
.icon-arrow-down-left:before {
    content: "\e04c";
}
.icon-arrow-left-2:before {
    content: "\e04d";
}
.icon-arrow-up-left-2:before {
    content: "\e04e";
}
.icon-arrow-up-3:before {
    content: "\e04f";
}
.icon-arrow-up-right-2:before {
    content: "\e050";
}
.icon-arrow-right-3:before {
    content: "\e051";
}
.icon-arrow-down-right-2:before {
    content: "\e052";
}
.icon-arrow-down-3:before {
    content: "\e053";
}
.icon-arrow-down-left-2:before {
    content: "\e054";
}
.icon-arrow-left-3:before {
    content: "\e055";
}
.icon-arrow-up-left-3:before {
    content: "\e056";
}
.icon-arrow-up-4:before {
    content: "\e057";
}
.icon-arrow-up-right-3:before {
    content: "\e058";
}
.icon-arrow-right-4:before {
    content: "\e059";
}
.icon-arrow-down-right-3:before {
    content: "\e05a";
}
.icon-arrow-down-4:before {
    content: "\e05b";
}
.icon-arrow-down-left-3:before {
    content: "\e05c";
}
.icon-arrow-left-4:before {
    content: "\e05d";
}
.icon-arrow-up-5:before {
    content: "\e05e";
}
.icon-arrow-right-5:before {
    content: "\e05f";
}
.icon-arrow-down-5:before {
    content: "\e060";
}
.icon-arrow-left-5:before {
    content: "\e061";
}
.icon-arrow-up-6:before {
    content: "\e062";
}
.icon-arrow-right-6:before {
    content: "\e063";
}
.icon-arrow-down-6:before {
    content: "\e064";
}
.icon-arrow-left-6:before {
    content: "\e065";
}
.icon-arrow-up-7:before {
    content: "\e066";
}
.icon-arrow-right-7:before {
    content: "\e067";
}
.icon-arrow-down-7:before {
    content: "\e068";
}
.icon-arrow-left-7:before {
    content: "\e069";
}
.icon-menu-3:before {
    content: "\e06a";
}
.icon-enter-2:before {
    content: "\e06b";
}
.icon-backspace:before {
    content: "\e06c";
}
.icon-backspace-2:before {
    content: "\e06d";
}
.icon-tab:before {
    content: "\e06e";
}
.icon-tab-2:before {
    content: "\e06f";
}
.icon-checkbox:before {
    content: "\e070";
}
.icon-checkbox-unchecked:before {
    content: "\e071";
}
.icon-checkbox-partial:before {
    content: "\e072";
}
.icon-radio-checked:before {
    content: "\e073";
}
.icon-radio-unchecked:before {
    content: "\e074";
}
.icon-font:before {
    content: "\e075";
}
.icon-paragraph-left:before {
    content: "\e076";
}
.icon-paragraph-center:before {
    content: "\e077";
}
.icon-paragraph-right:before {
    content: "\e078";
}
.icon-left-to-right:before {
    content: "\e079";
}
.icon-right-to-left:before {
    content: "\e07a";
}
.icon-out:before {
    content: "\e07b";
}
.icon-out-2:before {
    content: "\e07c";
}
.icon-embed:before {
    content: "\e07d";
}
.icon-seven-segment:before {
    content: "\e07e";
}
.icon-seven-segment-2:before {
    content: "\e07f";
}
.icon-seven-segment-3:before {
    content: "\e080";
}
.icon-seven-segment-4:before {
    content: "\e081";
}
.icon-seven-segment-5:before {
    content: "\e082";
}
.icon-seven-segment-6:before {
    content: "\e083";
}
.icon-seven-segment-7:before {
    content: "\e084";
}
.icon-seven-segment-8:before {
    content: "\e085";
}
.icon-seven-segment-9:before {
    content: "\e086";
}
.icon-seven-segment-10:before {
    content: "\e087";
}
.icon-bluetooth:before {
    content: "\e088";
}
.icon-share:before {
    content: "\e089";
}
.icon-share-2:before {
    content: "\e08a";
}
.icon-mail-2:before {
    content: "\e08b";
}
.icon-google-plus:before {
    content: "\e08c";
}
.icon-google-plus-2:before {
    content: "\e08d";
}
.icon-google-plus-3:before {
    content: "\e08e";
}
.icon-facebook:before {
    content: "\e08f";
}
.icon-facebook-2:before {
    content: "\e090";
}
.icon-twitter:before {
    content: "\e091";
}
.icon-twitter-2:before {
    content: "\e092";
}
.icon-twitter-3:before {
    content: "\e093";
}
.icon-twitter-4:before {
    content: "\e094";
}
.icon-feed:before {
    content: "\e095";
}
.icon-feed-2:before {
    content: "\e096";
}
.icon-youtube:before {
    content: "\e097";
}
.icon-youtube-2:before {
    content: "\e098";
}
.icon-vimeo:before {
    content: "\e099";
}
.icon-vimeo-2:before {
    content: "\e09a";
}
.icon-flickr:before {
    content: "\e09b";
}
.icon-flickr-2:before {
    content: "\e09c";
}
.icon-picassa:before {
    content: "\e09d";
}
.icon-picassa-2:before {
    content: "\e09e";
}
.icon-dribbble:before {
    content: "\e09f";
}
.icon-dribbble-2:before {
    content: "\e0a0";
}
.icon-forrst:before {
    content: "\e0a1";
}
.icon-forrst-2:before {
    content: "\e0a2";
}
.icon-deviantart:before {
    content: "\e0a3";
}
.icon-deviantart-2:before {
    content: "\e0a4";
}
.icon-github:before {
    content: "\e0a5";
}
.icon-github-2:before {
    content: "\e0a6";
}
.icon-github-3:before {
    content: "\e0a7";
}
.icon-github-4:before {
    content: "\e0a8";
}
.icon-wordpress:before {
    content: "\e0a9";
}
.icon-wordpress-2:before {
    content: "\e0aa";
}
.icon-blogger:before {
    content: "\e0ab";
}
.icon-blogger-2:before {
    content: "\e0ac";
}
.icon-tumblr:before {
    content: "\e0ad";
}
.icon-tumblr-2:before {
    content: "\e0ae";
}
.icon-yahoo:before {
    content: "\e0af";
}
.icon-yahoo-2:before {
    content: "\e0b0";
}
.icon-amazon:before {
    content: "\e0b1";
}
.icon-amazon-2:before {
    content: "\e0b2";
}
.icon-apple:before {
    content: "\e0b3";
}
.icon-android:before {
    content: "\e0b4";
}
.icon-windows:before {
    content: "\e0b5";
}
.icon-soundcloud:before {
    content: "\e0b6";
}
.icon-soundcloud-2:before {
    content: "\e0b7";
}
.icon-skype:before {
    content: "\e0b8";
}
.icon-reddit:before {
    content: "\e0b9";
}
.icon-linkedin:before {
    content: "\e0ba";
}
.icon-lastfm:before {
    content: "\e0bb";
}
.icon-lastfm-2:before {
    content: "\e0bc";
}
.icon-delicious:before {
    content: "\e0bd";
}
.icon-stumbleupon:before {
    content: "\e0be";
}
.icon-stumbleupon-2:before {
    content: "\e0bf";
}
.icon-pinterest:before {
    content: "\e0c0";
}
.icon-pinterest-2:before {
    content: "\e0c1";
}
.icon-xing:before {
    content: "\e0c2";
}
.icon-libreoffice:before {
    content: "\e0c3";
}
.icon-file-pdf:before {
    content: "\e0c4";
}
.icon-file-openoffice:before {
    content: "\e0c5";
}
.icon-file-word:before {
    content: "\e0c6";
}
.icon-file-excel:before {
    content: "\e0c7";
}
.icon-file-powerpoint:before {
    content: "\e0c8";
}
.icon-file-xml:before {
    content: "\e0c9";
}
.icon-file-css:before {
    content: "\e0ca";
}
.icon-html5:before {
    content: "\e0cb";
}
.icon-html5-2:before {
    content: "\e0cc";
}
.icon-css3:before {
    content: "\e0cd";
}
.icon-IcoMoon:before {
    content: "\e0ce";
}
.icon-popup:before {
    content: "\e0cf";
}
.icon-book-2:before {
    content: "\e0d0";
}
.icon-bookmark-3:before {
    content: "\e0d1";
}
.icon-home-4:before {
    content: "\e0d2";
}
.icon-keyboard:before {
    content: "\e0d3";
}
.icon-feather:before {
    content: "\e0d4";
}
.icon-network:before {
    content: "\e0d5";
}
.icon-inbox:before {
    content: "\e0d6";
}
.icon-square:before {
    content: "\e0d7";
}
.icon-globe:before {
    content: "\e0d8";
}
.icon-broadcast-2:before {
    content: "\e0d9";
}
.icon-arrow:before {
    content: "\e0da";
}
.icon-screen-2:before {
    content: "\e0db";
}
.icon-publish:before {
    content: "\e0dc";
}
.icon-browser:before {
    content: "\e0dd";
}
.icon-light-bulb:before {
    content: "\e0de";
}
.icon-sun:before {
    content: "\e0df";
}
.icon-sun-2:before {
    content: "\e0e0";
}
.icon-back:before {
    content: "\e0e1";
}
.icon-history-2:before {
    content: "\e0e2";
}
.icon-battery:before {
    content: "\e0e3";
}
.icon-battery-2:before {
    content: "\e0e4";
}
.icon-battery-3:before {
    content: "\e0e5";
}
.icon-battery-4:before {
    content: "\e0e6";
}
.icon-battery-5:before {
    content: "\e0e7";
}
.icon-code:before {
    content: "\e0e8";
}
.icon-triangle:before {
    content: "\e0e9";
}
.icon-triangle-2:before {
    content: "\e0ea";
}
.icon-triangle-3:before {
    content: "\e0eb";
}
.icon-triangle-4:before {
    content: "\e0ec";
}
.icon-arrow-2:before {
    content: "\e0ed";
}
.icon-arrow-3:before {
    content: "\e0ee";
}
.icon-arrow-4:before {
    content: "\e0ef";
}
.icon-arrow-5:before {
    content: "\e0f0";
}
.icon-arrow-6:before {
    content: "\e0f1";
}
.icon-arrow-7:before {
    content: "\e0f2";
}
.icon-arrow-8:before {
    content: "\e0f3";
}
.icon-arrow-9:before {
    content: "\e0f4";
}
.icon-arrow-10:before {
    content: "\e0f5";
}
.icon-arrow-11:before {
    content: "\e0f6";
}
.icon-arrow-12:before {
    content: "\e0f7";
}
.icon-arrow-13:before {
    content: "\e0f8";
}
.icon-arrow-14:before {
    content: "\e0f9";
}
.icon-arrow-15:before {
    content: "\e0fa";
}
.icon-arrow-16:before {
    content: "\e0fb";
}
.icon-arrow-17:before {
    content: "\e0fc";
}
.icon-arrow-18:before {
    content: "\e0fd";
}
.icon-arrow-19:before {
    content: "\e0fe";
}
.icon-arrow-20:before {
    content: "\e0ff";
}
.icon-arrow-21:before {
    content: "\e100";
}
.icon-mute:before {
    content: "\e101";
}
.icon-sound:before {
    content: "\e102";
}
.icon-volume:before {
    content: "\e103";
}
.icon-collapse:before {
    content: "\e104";
}
.icon-full-screen:before {
    content: "\e105";
}
.icon-last:before {
    content: "\e106";
}
.icon-first:before {
    content: "\e107";
}
.icon-fast-backward:before {
    content: "\e108";
}
.icon-fast-forward:before {
    content: "\e109";
}
.icon-stop:before {
    content: "\e10a";
}
.icon-record:before {
    content: "\e10b";
}
.icon-pause:before {
    content: "\e10c";
}
.icon-play-2:before {
    content: "\e10d";
}
.icon-upload-3:before {
    content: "\e10e";
}
.icon-cloud-3:before {
    content: "\e10f";
}
.icon-install:before {
    content: "\e110";
}
.icon-download-2:before {
    content: "\e111";
}
.icon-upload-4:before {
    content: "\e112";
}
.icon-trashcan:before {
    content: "\e113";
}
.icon-archive:before {
    content: "\e114";
}
.icon-folder-3:before {
    content: "\e115";
}
.icon-song:before {
    content: "\e116";
}
.icon-movie:before {
    content: "\e117";
}
.icon-images:before {
    content: "\e118";
}
.icon-landscape:before {
    content: "\e119";
}
.icon-documents:before {
    content: "\e11a";
}
.icon-document:before {
    content: "\e11b";
}
.icon-document-2:before {
    content: "\e11c";
}
.icon-grid:before {
    content: "\e11d";
}
.icon-add:before {
    content: "\e11e";
}
.icon-list:before {
    content: "\e11f";
}
.icon-retweet:before {
    content: "\e120";
}
.icon-arrow-22:before {
    content: "\e121";
}
.icon-back-2:before {
    content: "\e122";
}
.icon-shuffle:before {
    content: "\e123";
}
.icon-reload-CCW:before {
    content: "\e124";
}
.icon-reload-CW:before {
    content: "\e125";
}
.icon-warning:before {
    content: "\e126";
}
.icon-help-3:before {
    content: "\e127";
}
.icon-help-4:before {
    content: "\e128";
}
.icon-info-circle:before {
    content: "\e129";
}
.icon-info-2:before {
    content: "\e12a";
}
.icon-blocked-2:before {
    content: "\e12b";
}
.icon-plus-3:before {
    content: "\e12c";
}
.icon-minus-3:before {
    content: "\e12d";
}
.icon-close:before {
    content: "\e12e";
}
.icon-plus-4:before {
    content: "\e12f";
}
.icon-minus-4:before {
    content: "\e130";
}
.icon-cancel-4:before {
    content: "\e131";
}
.icon-checkmark-2:before {
    content: "\e132";
}
.icon-unlocked-2:before {
    content: "\e133";
}
.icon-locked-2:before {
    content: "\e134";
}
.icon-rss:before {
    content: "\e135";
}
.icon-time:before {
    content: "\e136";
}
.icon-flash:before {
    content: "\e137";
}
.icon-calendar-2:before {
    content: "\e138";
}
.icon-microphone-2:before {
    content: "\e139";
}
.icon-clock-2:before {
    content: "\e13a";
}
.icon-eye-3:before {
    content: "\e13b";
}
.icon-google-circles:before {
    content: "\e13c";
}
.icon-support-2:before {
    content: "\e13d";
}
.icon-flight:before {
    content: "\e13e";
}
.icon-shopping:before {
    content: "\e13f";
}
.icon-music-2:before {
    content: "\e140";
}
.icon-leaf:before {
    content: "\e141";
}
.icon-palette:before {
    content: "\e142";
}
.icon-sleep:before {
    content: "\e143";
}
.icon-camera-3:before {
    content: "\e144";
}
.icon-price:before {
    content: "\e145";
}
.icon-trophy-2:before {
    content: "\e146";
}
.icon-search-3:before {
    content: "\e147";
}
.icon-settings:before {
    content: "\e148";
}
.icon-flag-4:before {
    content: "\e149";
}
.icon-link-3:before {
    content: "\e14a";
}
.icon-alert:before {
    content: "\e14b";
}
.icon-printer:before {
    content: "\e14c";
}
.icon-quote:before {
    content: "\e14d";
}
.icon-comment:before {
    content: "\e14e";
}
.icon-chat:before {
    content: "\e14f";
}
.icon-thumbs-up-2:before {
    content: "\e150";
}
.icon-star-4:before {
    content: "\e151";
}
.icon-star-5:before {
    content: "\e152";
}
.icon-heart-3:before {
    content: "\e153";
}
.icon-heart-4:before {
    content: "\e154";
}
.icon-share-3:before {
    content: "\e155";
}
.icon-center:before {
    content: "\e156";
}
.icon-direction:before {
    content: "\e157";
}
.icon-compass-2:before {
    content: "\e158";
}
.icon-map:before {
    content: "\e159";
}
.icon-location-2:before {
    content: "\e15a";
}
.icon-export:before {
    content: "\e15b";
}
.icon-card:before {
    content: "\e15c";
}
.icon-contact:before {
    content: "\e15d";
}
.icon-users:before {
    content: "\e15e";
}
.icon-user-4:before {
    content: "\e15f";
}
.icon-forward-2:before {
    content: "\e160";
}
.icon-reply-to-all:before {
    content: "\e161";
}
.icon-reply-3:before {
    content: "\e162";
}
.icon-attachment:before {
    content: "\e163";
}
.icon-write:before {
    content: "\e164";
}
.icon-email:before {
    content: "\e165";
}
.icon-address:before {
    content: "\e166";
}
.icon-mouse-2:before {
    content: "\e167";
}
.icon-mobile-3:before {
    content: "\e168";
}
.icon-phone-2:before {
    content: "\e169";
}
.icon-paperclip:before {
    content: "\e16a";
}
.icon-fork:before {
    content: "\e16b";
}
.icon-cloud-upload:before {
    content: "\e16c";
}
.icon-cloud-download:before {
    content: "\e16d";
}
.icon-upload-5:before {
    content: "\e16e";
}
.icon-download-3:before {
    content: "\e16f";
}
.icon-target-3:before {
    content: "\e170";
}
.icon-map-pin-alt:before {
    content: "\e171";
}
.icon-map-pin-fill:before {
    content: "\e172";
}
.icon-map-pin-stroke:before {
    content: "\e173";
}
.icon-star-6:before {
    content: "\e174";
}
.icon-umbrella:before {
    content: "\e175";
}
.icon-rain:before {
    content: "\e176";
}
.icon-cloud-4:before {
    content: "\e177";
}
.icon-moon-fill:before {
    content: "\e178";
}
.icon-moon-stroke:before {
    content: "\e179";
}
.icon-sun-fill:before {
    content: "\e17a";
}
.icon-sun-stroke:before {
    content: "\e17b";
}
.icon-tag-fill:before {
    content: "\e17c";
}
.icon-tag-stroke:before {
    content: "\e17d";
}
.icon-unlock-fill:before {
    content: "\e17e";
}
.icon-unlock-stroke:before {
    content: "\e17f";
}
.icon-lock-fill:before {
    content: "\e180";
}
.icon-lock-stroke:before {
    content: "\e181";
}
.icon-clock-3:before {
    content: "\e182";
}
.icon-home-5:before {
    content: "\e183";
}
.icon-user-5:before {
    content: "\e184";
}
.icon-eye-4:before {
    content: "\e185";
}
.icon-bars-alt:before {
    content: "\e186";
}
.icon-bars-2:before {
    content: "\e187";
}
.icon-chart-alt:before {
    content: "\e188";
}
.icon-chart:before {
    content: "\e189";
}
.icon-aperture-alt:before {
    content: "\e18a";
}
.icon-aperture:before {
    content: "\e18b";
}
.icon-camera-4:before {
    content: "\e18c";
}
.icon-image:before {
    content: "\e18d";
}
.icon-layers:before {
    content: "\e18e";
}
.icon-layers-alt:before {
    content: "\e18f";
}
.icon-eyedropper:before {
    content: "\e190";
}
.icon-brush-alt:before {
    content: "\e191";
}
.icon-brush:before {
    content: "\e192";
}
.icon-pen-alt2:before {
    content: "\e193";
}
.icon-pen-alt-fill:before {
    content: "\e194";
}
.icon-pen-alt-stroke:before {
    content: "\e195";
}
.icon-pen:before {
    content: "\e196";
}
.icon-book-alt2:before {
    content: "\e197";
}
.icon-book-alt:before {
    content: "\e198";
}
.icon-book-3:before {
    content: "\e199";
}
.icon-list-nested:before {
    content: "\e19a";
}
.icon-list-2:before {
    content: "\e19b";
}
.icon-read-more:before {
    content: "\e19c";
}
.icon-article:before {
    content: "\e19d";
}
.icon-right-quote-alt:before {
    content: "\e19e";
}
.icon-left-quote-alt:before {
    content: "\e19f";
}
.icon-right-quote:before {
    content: "\e1a0";
}
.icon-left-quote:before {
    content: "\e1a1";
}
.icon-hash:before {
    content: "\e1a2";
}
.icon-pilcrow:before {
    content: "\e1a3";
}
.icon-question-mark:before {
    content: "\e1a4";
}
.icon-info-3:before {
    content: "\e1a5";
}
.icon-ampersand:before {
    content: "\e1a6";
}
.icon-at:before {
    content: "\e1a7";
}
.icon-folder-fill:before {
    content: "\e1a8";
}
.icon-folder-stroke:before {
    content: "\e1a9";
}
.icon-box:before {
    content: "\e1aa";
}
.icon-compass-3:before {
    content: "\e1ab";
}
.icon-battery-charging:before {
    content: "\e1ac";
}
.icon-battery-full:before {
    content: "\e1ad";
}
.icon-battery-half:before {
    content: "\e1ae";
}
.icon-battery-empty:before {
    content: "\e1af";
}
.icon-iphone:before {
    content: "\e1b0";
}
.icon-fullscreen-alt:before {
    content: "\e1b1";
}
.icon-fullscreen:before {
    content: "\e1b2";
}
.icon-fullscreen-exit-alt:before {
    content: "\e1b3";
}
.icon-fullscreen-exit:before {
    content: "\e1b4";
}
.icon-play-alt:before {
    content: "\e1b5";
}
.icon-last-2:before {
    content: "\e1b6";
}
.icon-first-2:before {
    content: "\e1b7";
}
.icon-eject:before {
    content: "\e1b8";
}
.icon-stop-2:before {
    content: "\e1b9";
}
.icon-pause-2:before {
    content: "\e1ba";
}
.icon-play-3:before {
    content: "\e1bb";
}
.icon-volume-mute:before {
    content: "\e1bc";
}
.icon-volume-2:before {
    content: "\e1bd";
}
.icon-headphones:before {
    content: "\e1be";
}
.icon-microphone-3:before {
    content: "\e1bf";
}
.icon-steering-wheel:before {
    content: "\e1c0";
}
.icon-cd:before {
    content: "\e1c1";
}
.icon-arrow-down-alt2:before {
    content: "\e1c2";
}
.icon-arrow-down-alt1:before {
    content: "\e1c3";
}
.icon-arrow-down-8:before {
    content: "\e1c4";
}
.icon-arrow-up-alt2:before {
    content: "\e1c5";
}
.icon-arrow-up-alt1:before {
    content: "\e1c6";
}
.icon-arrow-up-8:before {
    content: "\e1c7";
}
.icon-arrow-right-alt2:before {
    content: "\e1c8";
}
.icon-arrow-right-alt1:before {
    content: "\e1c9";
}
.icon-arrow-right-8:before {
    content: "\e1ca";
}
.icon-arrow-left-alt2:before {
    content: "\e1cb";
}
.icon-arrow-left-alt1:before {
    content: "\e1cc";
}
.icon-arrow-left-8:before {
    content: "\e1cd";
}
.icon-move-horizontal-alt2:before {
    content: "\e1ce";
}
.icon-move-horizontal-alt1:before {
    content: "\e1cf";
}
.icon-move-horizontal:before {
    content: "\e1d0";
}
.icon-move-vertical-alt2:before {
    content: "\e1d1";
}
.icon-move-vertical-alt1:before {
    content: "\e1d2";
}
.icon-move-vertical:before {
    content: "\e1d3";
}
.icon-transfer:before {
    content: "\e1d4";
}
.icon-loop-alt4:before {
    content: "\e1d5";
}
.icon-loop-alt3:before {
    content: "\e1d6";
}
.icon-loop-alt2:before {
    content: "\e1d7";
}
.icon-loop-alt1:before {
    content: "\e1d8";
}
.icon-loop-2:before {
    content: "\e1d9";
}
.icon-reload-alt:before {
    content: "\e1da";
}
.icon-reload:before {
    content: "\e1db";
}
.icon-undo-2:before {
    content: "\e1dc";
}
.icon-curved-arrow:before {
    content: "\e1dd";
}
.icon-spin:before {
    content: "\e1de";
}
.icon-spin-alt:before {
    content: "\e1df";
}
.icon-lightbulb:before {
    content: "\e1e0";
}
.icon-new-window:before {
    content: "\e1e1";
}
.icon-key-fill:before {
    content: "\e1e2";
}
.icon-key-stroke:before {
    content: "\e1e3";
}
.icon-beaker:before {
    content: "\e1e4";
}
.icon-beaker-alt:before {
    content: "\e1e5";
}
.icon-trash-fill:before {
    content: "\e1e6";
}
.icon-trash-stroke:before {
    content: "\e1e7";
}
.icon-magnifying-glass:before {
    content: "\e1e8";
}
.icon-award-stroke:before {
    content: "\e1e9";
}
.icon-award-fill:before {
    content: "\e1ea";
}
.icon-equalizer-2:before {
    content: "\e1eb";
}
.icon-move-alt2:before {
    content: "\e1ec";
}
.icon-move-alt1:before {
    content: "\e1ed";
}
.icon-move:before {
    content: "\e1ee";
}
.icon-bolt:before {
    content: "\e1ef";
}
.icon-link-4:before {
    content: "\e1f0";
}
.icon-pin:before {
    content: "\e1f1";
}
.icon-minus-alt:before {
    content: "\e1f2";
}
.icon-minus-5:before {
    content: "\e1f3";
}
.icon-plus-alt:before {
    content: "\e1f4";
}
.icon-plus-5:before {
    content: "\e1f5";
}
.icon-document-fill:before {
    content: "\e1f6";
}
.icon-document-stroke:before {
    content: "\e1f7";
}
.icon-document-alt-fill:before {
    content: "\e1f8";
}
.icon-document-alt-stroke:before {
    content: "\e1f9";
}
.icon-movie-2:before {
    content: "\e1fa";
}
.icon-heart-fill:before {
    content: "\e1fb";
}
.icon-heart-stroke:before {
    content: "\e1fc";
}
.icon-mail-3:before {
    content: "\e1fd";
}
.icon-share-4:before {
    content: "\e1fe";
}
.icon-calendar-alt-fill:before {
    content: "\e1ff";
}
.icon-calendar-alt-stroke:before {
    content: "\e200";
}
.icon-calendar-3:before {
    content: "\e201";
}
.icon-cog-2:before {
    content: "\e202";
}
.icon-dial:before {
    content: "\e203";
}
.icon-wrench-2:before {
    content: "\e204";
}
.icon-rss-alt:before {
    content: "\e205";
}
.icon-rss-2:before {
    content: "\e206";
}
.icon-cursor:before {
    content: "\e207";
}
.icon-denied:before {
    content: "\e208";
}
.icon-x-altx-alt:before {
    content: "\e209";
}
.icon-x:before {
    content: "\e20a";
}
.icon-check-alt:before {
    content: "\e20b";
}
.icon-checkmark-3:before {
    content: "\e20c";
}
.icon-comment-alt2-fill:before {
    content: "\e20d";
}
.icon-comment-alt2-stroke:before {
    content: "\e20e";
}
.icon-comment-fill:before {
    content: "\e20f";
}
.icon-comment-stroke:before {
    content: "\e210";
}
.icon-comment-alt1-fill:before {
    content: "\e211";
}
.icon-comment-alt1-stroke:before {
    content: "\e212";
}
.icon-chat-alt-fill:before {
    content: "\e213";
}
.icon-chat-alt-stroke:before {
    content: "\e214";
}
.icon-chat-2:before {
    content: "\e215";
}
.icon-Fahrenheit:before {
    content: "\e216";
}
.icon-Celsius:before {
    content: "\e217";
}
.icon-none:before {
    content: "\e218";
}
.icon-compass-4:before {
    content: "\e219";
}
.icon-thermometer:before {
    content: "\e21a";
}
.icon-lightning-2:before {
    content: "\e21b";
}
.icon-cloudy:before {
    content: "\e21c";
}
.icon-weather:before {
    content: "\e21d";
}
.icon-snowy:before {
    content: "\e21e";
}
.icon-snowy-2:before {
    content: "\e21f";
}
.icon-windy:before {
    content: "\e220";
}
.icon-windy-2:before {
    content: "\e221";
}
.icon-rainy:before {
    content: "\e222";
}
.icon-rainy-2:before {
    content: "\e223";
}
.icon-lightning-3:before {
    content: "\e224";
}
.icon-cloud-5:before {
    content: "\e225";
}
.icon-cloud-6:before {
    content: "\e226";
}
.icon-cloudy-2:before {
    content: "\e227";
}
.icon-moon:before {
    content: "\e228";
}
.icon-sun-3:before {
    content: "\e229";
}
.icon-lightning-4:before {
    content: "\e22a";
}
.icon-cloud-7:before {
    content: "\e22b";
}
.icon-cloudy-3:before {
    content: "\e22c";
}
.icon-weather-2:before {
    content: "\e22d";
}
.icon-snowy-3:before {
    content: "\e22e";
}
.icon-snowy-4:before {
    content: "\e22f";
}
.icon-snowy-5:before {
    content: "\e230";
}
.icon-windy-3:before {
    content: "\e231";
}
.icon-windy-4:before {
    content: "\e232";
}
.icon-rainy-3:before {
    content: "\e233";
}
.icon-rainy-4:before {
    content: "\e234";
}
.icon-lightning-5:before {
    content: "\e235";
}
.icon-lightning-6:before {
    content: "\e236";
}
.icon-cloud-8:before {
    content: "\e237";
}
.icon-lines:before {
    content: "\e238";
}
.icon-weather-3:before {
    content: "\e239";
}
.icon-weather-4:before {
    content: "\e23a";
}
.icon-weather-5:before {
    content: "\e23b";
}
.icon-cloud-9:before {
    content: "\e23c";
}
.icon-cloudy-4:before {
    content: "\e23d";
}
.icon-snowflake:before {
    content: "\e23e";
}
.icon-wind:before {
    content: "\e23f";
}
.icon-windy-5:before {
    content: "\e240";
}
.icon-sun-4:before {
    content: "\e241";
}
.icon-moon-2:before {
    content: "\e242";
}
.icon-sun-5:before {
    content: "\e243";
}
.icon-sunrise:before {
    content: "\e244";
}
/*icomoon end*/